---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<Layout>
	<div class="flex flex-col items-center">
		<section class="py-12 px-12">
			<div class="container mx-auto text-center text-white">
			  <h1 class="text-4xl font-bold mb-6">¡Tu próxima aventura de Airsoft!</h1>
			  <p class="text-lg mb-8">
				En <strong>Área 96</strong>, nos especializamos en ofrecerte la mejor experiencia de <strong>airsoft</strong> en un entorno único y desafiante. Ya seas un jugador experimentado o un principiante, nuestro campo está diseñado para poner a prueba tus habilidades en un entorno seguro y emocionante.
			  </p>
		  
			  <h2 class="text-3xl font-semibold mb-4">¿Qué ofrecemos?</h2>
			  <ul class="list-disc list-inside text-lg mb-8">
				<li><strong>Escenarios Realistas:</strong> Nuestro campo está dividido en diferentes zonas con escenarios que recrean situaciones de combate reales, perfectas para estrategias de equipo, misiones y más.</li>
				<li><strong>Equipamiento de Calidad:</strong> Contamos con réplicas de última generación y equipo de seguridad para asegurar que disfrutes del juego de manera responsable.</li>
				<li><strong>Diversión y Competencia:</strong> Ya sea en partidas de tipo <em>captura de bandera</em>, <em>eliminación por equipo</em> o desafíos especiales, siempre tendrás la oportunidad de enfrentarte a jugadores de todos los niveles.</li>
				<li><strong>Seguridad ante todo:</strong> La seguridad de nuestros jugadores es nuestra prioridad. Seguimos estrictas normas de seguridad y proporcionamos formación en el uso del equipo y la etiqueta del juego.</li>
			  </ul>
		  
			  <h2 class="text-3xl font-semibold mb-4">¿Por qué elegirnos?</h2>
			  <ul class="list-disc list-inside text-lg mb-8">
				<li><strong>Ambiente inclusivo:</strong> Un lugar amigable donde jugadores de todas las edades y habilidades pueden disfrutar del airsoft.</li>
				<li><strong>Accesibilidad:</strong> Nuestro campo está diseñado para ofrecer accesibilidad a todos, con diferentes niveles de dificultad adaptados a cada jugador.</li>
				<li><strong>Ubicación ideal:</strong> Situados en un entorno natural, con fácil acceso y rodeados de historia y naturaleza que añaden un toque único a la experiencia.</li>
			  </ul>
		  
			  <h2 class="text-3xl font-semibold mb-4">¡Ven a vivir la experiencia del airsoft como nunca antes!</h2>
			  <p class="text-lg mb-8">
				En <strong>Área 96</strong> no solo jugarás una partida, ¡serás parte de la acción! Prepara tus estrategias, organiza a tu equipo y prepárate para vivir un día lleno de adrenalina y trabajo en equipo.
			  </p>
		  
			  <h3 class="text-2xl font-bold mb-4">¿Estás listo para el desafío?</h3>
			  <p class="text-lg">
				¡Reserva tu partida hoy mismo y únete a nosotros!
			  </p>
			</div>
		</section>
		  
		<iframe 
		src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d7575.2790336896!2d-5.803752000000001!3d37.33778000000001!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzfCsDIwJzE2LjAiTiA1wrA0OCcwNC4yIlc!5e1!3m2!1ses!2ses!4v1738792720274!5m2!1ses!2ses" 
		width="100%" 
		height="250" 
		class="sm:h-[250px] md:h-[450px]" 
		style="border:0;" 
		allowfullscreen="" 
		loading="lazy" 
		referrerpolicy="no-referrer-when-downgrade">
	  </iframe>
	</div>
</Layout>